<div class="p-4 w-11/12 mx-auto mt-6">
    <nav class="flex flex-row gap-2 border-b-gray-300 border-b-[1px]">
        <a routerLink="sedes" routerLinkActive="active" class="bg-sky-800 text-white hover:bg-sky-950 hover:cursor-pointer px-4 py-2 rounded-sm">Gestion de Sedes</a>
        <a routerLink="areas" routerLinkActive="active" class="bg-sky-800 text-white hover:bg-sky-950 hover:cursor-pointer px-4 py-2 rounded-sm">Gestion de Areas</a>
        <a routerLink="cargos" routerLinkActive="active" class="bg-sky-800 text-white hover:bg-sky-950 hover:cursor-pointer px-4 py-2 rounded-sm">Gestion de Cargos</a>
    </nav>
    <router-outlet></router-outlet>
</div>