/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* ----- Globales ------- */
html{
    box-sizing: border-box;
    height: 100%;
    max-height: 100%;
}
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
body {
    font-family: "Poppins", sans-serif;
    margin: 0;
    height: 100%;
    max-height: 100%;
    --smart-scheduler-timeline-cell-min-width: 40px;
    --smart-scheduler-event-border-radius: 4px;
    --smart-scheduler-timeline-nonworking-color: var(--smart-background);
}
.bg-image{
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img(10).webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.active{
    background-color: white;
    color: black;
}